env = "dev"
project = "FILLME"
profile = "FILLME"
region = "FILLME"

api_name = "FILLME"
lambda_runtime = "python3.8"

lambda_envs = {
    log_level = "INFO"
    powertools_event_handler_debug = false
}
