[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
aws-lambda-powertools = "1.20.2"
python-decouple = "3.4"
pynamodb = "5.1.0"

[dev-packages]
boto3 = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
tavern = "*"

[requires]
python_version = "3.8"
